@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: #fff;
}
a {
  color: black;
  text-decoration: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
.FlashcardArrayWrapper__CardHolder {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 450px;
  justify-content: center;
  perspective: 1000px;
  max-width: 100%;
}
@media (max-width: 480px){
  .FlashcardArrayWrapper__CardHolder {
    width: 80%;
  }
}
@media (min-width: 481px){
  .FlashcardArrayWrapper__CardHolder {
    width: 90%;
  }
}